<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>XDMoD Internal Dashboard</title>
    <link rel="icon" href="{{ asset('gui/icons/favicon_static.ico') }}"/>

    <link rel="stylesheet" type="text/css" href={{ asset('gui/css/dashboard/dashboard.css') }}>
    <link rel="stylesheet" type="text/css" href={{ asset('gui/css/dashboard/management.css') }}>
    <link rel="stylesheet" type="text/css" href={{ asset('gui/css/dashboard/AdminPanel.css') }}>

    <!-- Include Ext stylesheets here: -->
    <link rel="stylesheet" type="text/css" href="{{ extjs_path }}/{{ extjs_version }}/resources/css/ext-all.css">
    <link rel="stylesheet" type="text/css" href="{{ extjs_path }}/{{ extjs_version }}/resources/css/xtheme-gray.css">
    <link rel="stylesheet" type="text/css" href="{{ extjs_path }}/{{ extjs_version }}/resources/css/debug.css">

    <!-- Include custom script to stop Ext from checking for Flash: -->
    <script type="text/javascript" src="{{ extjs_path }}/ext-stop-flash-check.js"></script>

    <!-- Include Ext and app-specific scripts: -->
    <script type="text/javascript" src="{{ extjs_path }}/{{ extjs_version }}/adapter/ext/ext-base.js"></script>
    <script type="text/javascript" src="{{ extjs_path }}/{{ extjs_version }}/ext-all-debug-w-comments.js"></script>
    <script type="text/javascript" src="{{ extjs_path }}/{{ extjs_version }}/src/debug.js"></script>

    <!-- ExtJS {{ extjs_version }} support files END -->
    <script type="text/javascript">
        Ext.BLANK_IMAGE_URL = '{{ extjs_path }}/{{ extjs_version }}/resources/images/default/s.gif';
    </script>

    <script type="text/javascript" src={{ asset('gui/lib/ext-oldie-history-patch.js') }}></script>
    <script type="text/javascript" src={{ asset('gui/lib/jquery/jquery-3.7.1.min.js') }}></script>

    <script type="text/javascript">
        jQuery.noConflict();
    </script>

    <link rel="stylesheet" type="text/css" href="{{ asset('gui/css/viewer.css') }}">

    <!-- Non-GUI JS Class Definitions -->
    <script type="text/javascript" src="{{ asset('js_classes/DateUtilities.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js_classes/StringUtilities.js') }}"></script>

    <script type="text/javascript" src="{{ asset('gui/js/dashboard/messaging.js') }}"></script>
    <script type="text/javascript" src="{{ asset('gui/js/dashboard/DashboardStore.js') }}"></script>
    <script type="text/javascript" src={{ asset('gui/lib/MessageWindow.js') }}></script>
    <script type="text/javascript" src={{ asset('gui/js/CCR.js') }}></script>
    <script type="text/javascript" src={{ asset('gui/js/ContainerMask.js') }}></script>
    <script type="text/javascript" src={{ asset('gui/js/TGUserDropDown.js') }}></script>
    <script type="text/javascript" src={{ asset('gui/js/InstitutionDropDown.js') }}></script>
    <script type="text/javascript" src={{ asset('gui/lib/CheckColumn.js') }}></script>

    <script type="text/javascript">
        Ext.namespace('CCR');
        CCR.dashboard_user_full_name = '{{ user.getFormalName() }}';
    </script>

    <!-- Globals -->
    <script type="text/javascript" src={{ asset('gui/js/Error.js.php') }}></script>
    <script type="text/javascript" src={{ asset('gui/js/globals.js') }}></script>
    <script type="text/javascript" src={{ asset('gui/js/StringExtensions.js') }}></script>

    <!-- Plugins -->
    <script type="text/javascript" src={{ asset('gui/js/plugins/ContextSensitiveHelper.js') }}></script>
    <script type="text/javascript" src={{ asset('gui/js/plugins/CollapsedPanelTitlePlugin.js') }}></script>
    <!-- Libraries -->
    <script type="text/javascript" src={{ asset('gui/js/libraries/utilities.js') }}></script>
    <script type="text/javascript" src={{ asset('gui/js/SessionManager.js') }}></script>
    <!-- RESTProxy -->
    <script type="text/javascript" src={{ asset('gui/js/RESTProxy.js') }}></script>

    <!-- REST Variables -->
    <script type="text/javascript">
        Ext.namespace('XDMoD.REST');
        XDMoD.REST.token = '{{ rest_token }}';
        XDMoD.REST.url = '{{ rest_url }}';
    </script>
    <script type="text/javascript" src={{ asset('gui/js/REST.js') }}></script>
    <link rel="stylesheet" type="text/css" href="{{ asset('gui/css/MultiSelect.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('gui/lib/extjs/examples/ux/css/Spinner.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('gui/lib/extjs/examples/ux/css/LockingGridView.css') }}"/>

    <script type="text/javascript" src={{ asset('gui/lib/extjs/examples/ux/LockingGridView.js') }}></script>

    <script type="text/javascript" src={{ asset('gui/lib/MultiSelect.js') }}></script>
    <script type="text/javascript" src={{ asset('gui/lib/ItemSelector.js') }}></script>
    <script type="text/javascript" src={{ asset('gui/lib/NumberFormat.js') }}></script>
    <script type="text/javascript" src={{ asset('gui/js/multiline-tree-nodes.js') }}></script>
    <script type="text/javascript" src={{ asset('gui/lib/printer/Printer-all.js') }}></script>
    <script type="text/javascript" src={{ asset('gui/js/LoginPrompt.js') }}></script>
    <script type="text/javascript" src={{ asset('gui/js/ContainerBodyMask.js') }}></script>
    <link rel="stylesheet" type="text/css" href="{{ asset('gui/css/common.css') }}"/>
    <!--[if lte IE 9]>
    <link rel="stylesheet" type="text/css" href="{{ asset('gui/css/common_ie9.css') }}"/>
    <![endif]-->
    <!--[if lte IE 8]>
    <link rel="stylesheet" type="text/css" href="{{ asset('gui/css/common_ie8.css') }}"/>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="{{ asset('gui/css/ChartDragDrop.css') }}"/>

    <script type="text/javascript" src={{ asset('gui/js/CustomJsonStore.js') }}></script>
    <script type="text/javascript" src={{ asset('gui/lib/Portal.js') }}></script>
    <script type="text/javascript" src={{ asset('gui/lib/PortalColumn.js') }}></script>
    <script type="text/javascript" src={{ asset('gui/lib/Portlet.js') }}></script>

    <script type="text/javascript" src={{ asset('gui/js/RESTTree.js') }}></script>
    <script type="text/javascript" src={{ asset('gui/js/BufferView.js') }}></script>
    <script type="text/javascript" src={{ asset('gui/lib/Spinner.js') }}></script>
    <script type="text/javascript" src={{ asset('gui/lib/SpinnerField.js') }}></script>
    <script type="text/javascript" src={{ asset('gui/js/CustomCheckItem.js') }}></script>
    <script type="text/javascript" src={{ asset('gui/js/CustomDateField.js') }}></script>
    <script type="text/javascript" src={{ asset('gui/js/CustomSplitButton.js') }}></script>
    <script type="text/javascript" src={{ asset('gui/js/CustomRowNumberer.js') }}></script>
    <script type="text/javascript" src={{ asset('gui/js/DynamicGridPanel.js') }}></script>
    <script type="text/javascript" src={{ asset('gui/js/DurationToolbar.js') }}></script>
    <script type="text/javascript" src={{ asset('gui/js/ChartConfigMenu.js') }}></script>
    <script type="text/javascript" src={{ asset('gui/js/ChartToolbar.js') }}></script>
    <script type="text/javascript" src={{ asset('gui/js/DrillDownMenu.js') }}></script>

    <script type="text/javascript" src={{ asset('gui/js/ChartDragDrop.js') }}></script>
    <script type="text/javascript" src={{ asset('gui/lib/extjs/examples/ux/DataView-more.js') }}></script>

    <script type="text/javascript" src={{ asset('gui/js/CustomMenu.js') }}></script>
    <script type="text/javascript" src={{ asset('gui/js/AddDataPanel.js') }}></script>
    <script type="text/javascript" src="{{ asset('gui/js/Viewer.js') }}"></script>

    <script type="text/javascript" src="{{ asset('gui/lib/RowExpander.js') }}"></script>

    <!-- User Management Panel -->

    <script type="text/javascript" src="{{ asset('gui/js/dashboard/admin_panel/RoleGrid.js') }}"></script>
    <script type="text/javascript" src="{{ asset('gui/js/dashboard/admin_panel/AclGrid.js') }}"></script>
    <script type="text/javascript" src="{{ asset('gui/js/dashboard/admin_panel/SectionNewUser.js') }}"></script>
    <script type="text/javascript" src="{{ asset('gui/js/dashboard/admin_panel/SectionExistingUsers.js') }}"></script>
    <script type="text/javascript" src="{{ asset('gui/js/dashboard/admin_panel/AdminPanel.js') }}"></script>
    <script type="text/javascript" src="{{ asset('gui/js/dashboard/UserManagement/Panel.js') }}"></script>

    <script type="text/javascript" src="{{ asset('gui/js/dashboard/CommentEditor.js') }}"></script>
    <script type="text/javascript" src="{{ asset('gui/js/dashboard/AccountRequests.js') }}"></script>

    <script type="text/javascript" src="{{ asset('gui/js/dashboard/RecipientVerificationPrompt.js') }}"></script>
    <script type="text/javascript" src="{{ asset('gui/js/dashboard/BatchMailClient.js') }}"></script>
    <script type="text/javascript" src="{{ asset('gui/js/dashboard/CurrentUsers.js') }}"></script>

    <script type="text/javascript" src="{{ asset('gui/js/dashboard/ExceptionLister.js') }}"></script>

    <script type="text/javascript" src="{{ asset('gui/js/dashboard/UserStats.js') }}"></script>

    <!-- Summary Panel -->

    <script type="text/javascript" src="{{ asset('gui/js/dashboard/Summary/ConfigStore.js') }}"></script>
    <script type="text/javascript" src="{{ asset('gui/js/dashboard/Summary/PortletsStore.js') }}"></script>
    <script type="text/javascript" src="{{ asset('gui/js/dashboard/Summary/Portlet.js') }}"></script>
    <script type="text/javascript" src="{{ asset('gui/js/dashboard/Summary/Portal.js') }}"></script>
    <script type="text/javascript" src="{{ asset('gui/js/dashboard/Summary/TabPanel.js') }}"></script>
    <script type="text/javascript" src="{{ asset('gui/js/dashboard/DashboardTools.js') }}"></script>

    <script type="text/javascript" src="{{ asset('gui/js/dashboard/Log/SummaryStore.js') }}"></script>
    <script type="text/javascript" src="{{ asset('gui/js/dashboard/Log/SummaryPortlet.js') }}"></script>
    <script type="text/javascript" src="{{ asset('gui/js/dashboard/Log/LevelsStore.js') }}"></script>
    <script type="text/javascript" src="{{ asset('gui/js/dashboard/Log/Store.js') }}"></script>
    <script type="text/javascript" src="{{ asset('gui/js/dashboard/Log/GridPanel.js') }}"></script>
    <script type="text/javascript" src="{{ asset('gui/js/dashboard/Log/TabPanel.js') }}"></script>

    <script type="text/javascript" src="{{ asset('gui/js/dashboard/UsersSummary/Store.js') }}"></script>
    <script type="text/javascript" src="{{ asset('gui/js/dashboard/UsersSummary/Portlet.js') }}"></script>

    <link rel="stylesheet" type="text/css" href="{{ asset('gui/css/GroupTab.css') }}"/>
    <script type="text/javascript" src={{ asset('gui/lib/extjs/examples/ux/GroupTabPanel.js') }}></script>
    <script type="text/javascript" src={{ asset('gui/lib/extjs/examples/ux/GroupTab.js') }}></script>

    <script type="text/javascript" src={{ asset('gui/js/ExportPanel.js') }}></script>
    <script type="text/javascript" src={{ asset('gui/js/PortalModule.js') }}></script>
`
    <script type="text/javascript" src="{{ asset('gui/js/dashboard/Dashboard/Factory.js') }}"></script>
    <script type="text/javascript" src="{{ asset('gui/js/dashboard/Dashboard/MenuStore.js') }}"></script>
    <script type="text/javascript" src="{{ asset('gui/js/dashboard/Dashboard/FramePanel.js') }}"></script>
    <script type="text/javascript" src="{{ asset('gui/js/dashboard/Dashboard/Viewport.js') }}"></script>

    {% if user is not null and not is_public_user %}
        {{ asset_paths | raw }}
    {% endif %}

    <script type="text/javascript">
        CCR.xdmod.features = {{ xdmod_features | raw }};
    </script>

    <script type="text/javascript" src="{{ asset('gui/js/dashboard/dashboard.js') }}"></script>
    {% if has_app_kernels %}
        <script type="text/javascript">
            Ext.onReady(function () {
                new XDMoD.AppKernel.InstanceWindow(
                    {
                        instanceId:{{ ak_instance_id }}
                    }).show();
            }, window, true);
        </script>
    {% endif %}
</head>
<body></body>
</html>
