<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <link rel="shortcut icon" href={{ asset('gui/icons/favicon_static.ico') }}/>
    <title>{{ title }}</title>

    <!-- Include Ext stylesheets here: -->
    <link rel="stylesheet" type="text/css" href="{{ extjs_path }}/{{ extjs_version }}/resources/css/ext-all.css">
    <link rel="stylesheet" type="text/css" href="{{ extjs_path }}/{{ extjs_version }}/resources/css/xtheme-gray.css">
    <link rel="stylesheet" type="text/css" href="{{ extjs_path }}/{{ extjs_version }}/resources/css/debug.css">

    <!-- Include custom script to stop Ext from checking for Flash: -->
    <script type="text/javascript" src="{{ extjs_path }}/ext-stop-flash-check.js"></script>

    <!-- Include Ext and app-specific scripts: -->
    <script type="text/javascript" src="{{ extjs_path }}/{{ extjs_version }}/adapter/ext/ext-base.js"></script>
    <script type="text/javascript" src="{{ extjs_path }}/{{ extjs_version }}/ext-all-debug-w-comments.js"></script>
    <script type="text/javascript" src="{{ extjs_path }}/{{ extjs_version }}/src/debug.js"></script>

    <!-- ExtJS {{ extjs_version }} support files END -->
    <script type="text/javascript">
        Ext.BLANK_IMAGE_URL = '{{ extjs_path }}/{{ extjs_version }}/resources/images/default/s.gif';
    </script>
    <script type="text/javascript" src={{ asset('gui/lib/jquery/jquery-1.12.4.min.js') }}></script>
    <script type="text/javascript" src="{{ asset('gui/lib/PasswordStrengthMeter.js') }}"></script>

    <link rel="stylesheet" type="text/css" href="{{ asset('gui/css/PasswordReset.css') }}">
    <script type="text/javascript" src="{{ asset('gui/js/PasswordReset.js') }}"></script>
</head>
<body onload="initPage()">
<table width=100%>

    <tr>
        <td align=left><img src="{{ asset('gui/images/' ~ mode ~ '_password.png') }}" alt="Password Image"></td>
        <td align=right><a href="/"><img src="{{ asset('gui/images/xdmod_mini.png') }}" border=0 alt="Go To XDMoD"></a>
        </td>
    </tr>

</table>

<center>

    <br><br>
    Welcome, {{ first_name }}. To {{ mode }} your password, supply a new password below and click
    on <b>Update</b>.<br><br>

    <div class="splashContainer loginSection">

        <div>
            <table border=0 width=100%>

                <tr>
                    <td align="center" colspan=3 style="padding-bottom: 7px"><b> {{ mode | capitalize }} Your
                            Password</b></td>
                </tr>

                <tr>
                    <td align="left" width=100>Password:</td>
                    <td align="left">
                        <input type="password" class="customTextField" id="updated_password"
                               maxlength="{{ password_max }}" onfocus="loginNav(this, event)"
                               onkeyup="loginNav(this, event)">
                    </td>
                    <td align="left"><i><span id="stat_updated_password"
                                              class="fieldRestrictions">5 characters min.</span></i></td>
                </tr>

                <tr>
                    <td align="left">&nbsp</td>
                    <td align="left">
                        <table border=0 style="padding: 0px !important">
                            <tr>
                                <td valign="middle"><img src="{{ asset('gui/images/lock.png') }}"></td>
                                <td valign="middle">
                                    <div class="passStrength" id="strengthIndicator">password not specified</div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td align="left" width=100>Password Again:</td>
                    <td align="left">
                        <input type="password" class="customTextField" id="updated_password_repeat"
                               maxlength="{{ password_max }}" onkeyup="loginNav(this, event)">
                    </td>
                    <td align="left"><i><span id="stat_updated_password_repeat" class="fieldRestrictions">5 characters min.</span></i>
                    </td>
                </tr>

                <tr>
                    <td colspan="3" align="center" style="padding-top: 8px">
                        <input type="button" class="customButton" value="Update" onClick="performReset()">
                    </td>
                </tr>

            </table>
        </div>

    </div>

</center>
<script type="text/javascript">
    const reset_id = {{ rid }};
</script>
</body>
</html>
